.answer {
    background-color: purple;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.hide {
    display: none;
}

#quiz-container {
    position: relative;
    /* This enables absolute positioning inside the container */
}

#timer-display {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: lightgray;
    /* Example styling, adjust as needed */
}